# Device configuration file for DAMARISd.

# Example for some device polled once a second by en external program:
#	[somedevice]
#	command = echo '1'
#	rate	= 1


# A python module needs to talk the daemon via server.put_data(device, record_time, value)
# and obey the server.occupied() directive. This is done via xmlrpclib.
# In DAMARIS you can tell the clients to wait via following commands:
# server.client_wait(device) tells the client to wait
# server.client_unwait(device) enables it
# Example of an python program/module, needs the run() method:
#	[somemodule]
#	module = test
#	args = 10




# Here are default settings like port,data_file name ...
[DEFAULT]
data_file = damarisd.h5
port = 8001
max_puts_before_flush = 30



# example for recording battery status on an Apple MacBook (Pro)
[Battery_5]
command = ioreg -l|grep '\"Voltage\" ' |awk  '{ print  $5 }'
rate	= 30

# Example for using a python module for recording soemthing:
# See example_module.py
[python_module]
module = example_module
args = ['any arguments','some more']

